---
import LinkButton from "../components/LinkButton.astro";
const { currentPage } = Astro.props;
const Pages = [
  [
    ["Home", "/"],
    ["Meet the Team", "/team"],
    ["About Us", "/about"],
  ],
  [["Contact Us", "/contact"]],
];
---

<nav class="barContainer">
  <div class="leftBarContainer">
    {
      Pages[0].map((page) => {
        return (
          <div class="itemContainer">
            {page[0] != currentPage ? (
              <LinkButton bold={false} link={page[1]} text={page[0]} />
            ) : (
              <LinkButton bold={true} link={page[1]} text={page[0]} />
            )}
          </div>
        );
      })
    }
  </div>
  <div class="rightBarContainer">
    {
      Pages[1].map((page) => {
        return (
          <div class="itemContainer">
            {page[0] != currentPage ? (
              <LinkButton bold={false} link={page[1]} text={page[0]} />
            ) : (
              <LinkButton bold={true} link={page[1]} text={page[0]} />
            )}
          </div>
        );
      })
    }
  </div>
</nav>

<style>
  .barContainer {
    position: static;
    margin: 0;
    padding: 0;
    border-width: 0;
    top: 0;
    left: 0;
    min-height: 2%;
    width: 100%;
    background-color: transparent;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* box-shadow: 0px 17px 32px -17px #000000; */
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 100%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .leftBarContainer {
    background-color: inherit;
    grid-column-start: 1;
    grid-column-end: 1;
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .rightBarContainer {
    background-color: inherit;
    grid-column-start: 2;
    grid-column-end: 2;
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .itemContainer {
    background-color: inherit;
    margin: 10px;
  }
</style>
